
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}
<style>
    .txtcolor {
        color: #b7c900;
    }
</style>
<script src="~/Helper/UserUtli.js"></script>
<script src="~/theams/plugins/jquery/jquery.min.js"></script>
<script type="text/javascript">
    window.oncontextmenu = function () {
        return false;
    }
    $(document).keydown(function (event) {
        if (event.keyCode == 123) {
            return false;
        }
        else if ((event.ctrlKey && event.shiftKey && event.keyCode == 73) || (event.ctrlKey && event.shiftKey && event.keyCode == 74)) {
            return false;
        }
        if (event.ctrlKey && event.shiftKey && event.keyCode == 'J'.charCodeAt(0))
            return false;

        if (event.ctrlKey && event.shiftKey && event.keyCode == 'I'.charCodeAt(0))
            return false;

        if (event.ctrlKey && event.keyCode == 'j'.charCodeAt(0))
            return false;

        if (event.ctrlKey && event.keyCode == 'u'.charCodeAt(0))
            return false;

        if (event.ctrlKey && event.keyCode == 'U'.charCodeAt(0))
            return false;
    });
</script>

<section id="ourvideos">
    <div class="container mybg">
        <div class="video_scroll">
            <div class="row col-space" id="dvid">

            </div>
        </div>
    </div>
</section>
<div id="loadvideodata" class="row col-space"></div>

<script src="~/ServiceScript/BaseUrl.js"></script>
<script src="~/theams/plugins/jquery/jquery.min.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="~/ServiceScript/userAccountService.js"></script>
<script src="~/ServiceScript/Service.js"></script>
<script src="~/theams/dist/js/DatimePicker/jquery.simple-dtpicker.js"></script>
<script src="~/ServiceScript/BaseUrl.js"></script>
<script>
    $(document).ready(function () {
        var url = 'OnlineTraning/gettraningdocument'
        GetProfile(url).then(data => {
            debugger;
            var docinfo = "";
            for (var i = 0; i < data.data.length; i++) {

                docinfo += `<div class="col-lg-3 col-md-4 col-sm-6 col-12">
                    <div class="hovereffect">
                        <img class="img-responsive" src="/theams/dist/img/img1.jpg" alt="">
                        <div class="overlay">
                            <h2>`+ data.data[i].title != null ? data.data[i].title : ""  + `</h2>
                            <p>`+ data.data[i].description != null ? data.data[i].description : ""  + `</p>
                            <p><a href="`+ imagebaseurl + data.data[i].documnetPath + `" target="_blank">View</a></p>
                        </div>
                    </div>
                </div>`
            }
            $('#loadvideodata').html(docinfo);
        })
    });
</script>
