
@{
    ViewData["Title"] = "ChangePassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/theams/plugins/jquery/jquery.min.js"></script>
<script>
    $(document).ready(function () {
        debugger;

        $("#btnCancel").click(function () {
            clear();
        });
        //*********************************************************
        $(function () {
            debugger;
            $('#chgpassform [type="password"]').keyup(function () {
                //Store the field objects into variables ...
                var password = $('#txtnewpass');
                var confirm = $('#txtcnfnewpass');
                var message = $('#confirm-message3');

                //Set the colors we will be using ...
                var good_color = "#66cc66";
                var bad_color = "#ff6666";

                if (password.val() == confirm.val()) {
                    confirm.css('border-color', good_color);
                    //message.css('color', good_color);
                } else {
                    confirm.css('border-color', bad_color);
                    //message.css('color', bad_color);
                }
            });
        });
        //*********************************************************
    });
</script>
<style>
    .content-header {
        position: relative;
        padding: 0px 7px 0 15px;
    }

    .box-header {
        color: #444;
        display: block;
        padding: 8px 2px !important;
        position: relative;
    }

    .psd {
        margin: auto;
        width: 35%;
        border: 3px solid #d3d3d3;
        padding: 10px;
    }

    .psdb {
        margin: auto;
        width: 40%;
        padding: 0px;
        text-align: center;
    }

    .chngpass {
        margin-bottom: 6rem;
        margin-top: 6rem;
    }
</style>

@if (ViewBag.errormessage != null)
{
    <div id="divMessage">
        <div class="alert alert-error"><a href="#" class="close" data-dismiss="alert">&times;</a> @ViewBag.errormessage</div>
    </div>
}
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header bread">
        <div class="container-fluid">
            <section id="content">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-4">
                        </div>
                        <div class="col-md-4">
                            <div class="card mlogin chngpass">
                                <div class="card-body outer-row login-card-body">
                                    <center><p class="login-box-msg"><h3>Change Password</h3></p></center>
                                    <input type="hidden" name="Id" id="hdnid" />
                                    <form role="form" id="chgpassform" enctype="multipart/form-data">
                                        <div class="input-group mb-3">
                                            <input type="password" id="txtoldpass" class="form-control" placeholder="Enter Old Password">
                                            <div class="input-group-append">
                                                <div class="input-group-text">
                                                    <span class="fas fa-lock"></span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="input-group mb-3">
                                            <input type="password" id="txtnewpass" class="form-control" placeholder="Type New password">
                                            <div class="input-group-append">
                                                <div class="input-group-text">
                                                    <span class="fas fa-lock"></span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="input-group mb-3">
                                            <input type="password" id="txtcnfnewpass" class="form-control" placeholder="Retype New password">
                                            <div class="input-group-append">
                                                <div class="input-group-text">
                                                    <span class="fas fa-lock"></span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="box-footer psdb">
                                            <button type="button" id="btnCancel" class="btn btn-danger">Clear</button>
                                            <button type="button" onclick="ChangePassword();" id="btnUpdate" class="btn btn-primary">Update</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                        </div>
                    </div>
                </div>
            </section>
        </div>

    </section>
</div>
    <script src="~/ServiceScript/BaseUrl.js"></script>
    <script src="~/theams/plugins/jquery/jquery.min.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="~/ServiceScript/userAccountService.js"></script>
    <script src="~/ServiceScript/Service.js"></script>
    <script src="~/theams/dist/js/DatimePicker/jquery.simple-dtpicker.js"></script>

    <script>
        function clear() {
            $('#txtoldpass').val("");
            $('#txtnewpass').val("");
            $('#txtcnfnewpass').val("");
        }
    </script>
