
@{
    ViewData["Title"] = "UserList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .modal-header {
        padding: 15px !important;
        border-bottom: 1px solid #e5e5e5 !important;
        background: linear-gradient(#e9ff0091, #fdfdfd) !important;
    }

    div.dataTables_wrapper div.dataTables_length select {
        width: 58px !important;
        display: inline-block;
    }
</style>
<link href="~/theams/Toaster/ToasterCSS/toastr.css" rel="stylesheet" />
<link href="~/theams/custom-loder.css" rel="stylesheet" />
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header bread">
        <div class="container-fluid">
            <div class="row mb-2 top-title">
                <div class="col-sm-9">
                    <h4>User List</h4>
                </div>
                <div class="col-sm-3">
                    <a href="/Account/AddFranchiseeUser" role="button" class="btn btn-success pull-right"><i class="fa fa-plus" aria-hidden="true"></i>  Create User</a>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
        <div id="overlay1">
            <p style="position: absolute; color: White; top: 50%; left: 45%;">
                Loading, please wait...
                <img src="~/Images/ajax-loader4.gif" alt="Loader" style="width:105px;height:76px" />
            </p>
        </div>
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="card card-primary outer-row">
                        <div class="card-body myform">
                            <div class="row">
                                <div class="col-sm-12">
                                    <table id="tbluser" class="table table-bordered table-striped tblbackground">
                                        <thead>
                                            <tr>
                                                <th>Franchisee Name</th>
                                                <th>Email</th>
                                                <th>Mobile</th>
                                                @*<th>Status</th>*@
                                                <th>Action</th>
                                            </tr>
                                        </thead>
                                    </table>
                                </div>
                            </div>
                            <!-- /.card-body -->
                        </div>
                        <!-- /.card -->
                    </div>
                    <!-- /.col -->
                </div>
                <!-- /.row -->
            </div>
        </div>
        <!-- /.container-fluid -->
    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->

<script src="~/theams/plugins/datatables/jquery.dataTables.min.js"></script>
<script src="~/theams/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
<script src="~/theams/plugins/datatables-responsive/js/dataTables.responsive.js"></script>
<script src="~/ServiceScript/BaseUrl.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootbox.js/5.4.0/bootbox.min.js" crossorigin="anonymous"></script>
<script src="~/theams/Toaster/ToasterJS/toastr.js"></script>
<script src="~/ServiceScript/FranchiseeUserManagment.js"></script>

<script type="text/javascript">
    var token = localStorage.getItem('token');
    $(document).ready(function () {
        debugger;
        var baseURL = baseurl + 'Franchisee/getalluser';
        var table = $("#tbluser").DataTable({
            "paging": true,
            "responsive": true,
            "autoWidth": false,
            "columnDefs": [{
                "searchable": false,
                "orderable": false,
                "targets": 0
            }],
            "iDisplayLength": 10,
            "ajax": {
                "url": baseURL,
                "headers": {
                    "Authorization": "Bearer " + token
                },
                "type": "GET",
                "datatype": "json"
            },
            "columns": [
                //{ "data": null, "searchable": false,"sortable": false}, //for #
                { "data": "fullName", "name": "User Name", "autoWidth": true },
                { "data": "emailId", "name": "Email", "autoWidth": true },
                { "data": "phoneNo", "title": "Mobile No", "name": "Mobile", "autoWidth": true },
                {
                    "title": "Actions",
                    "searchable": false,
                    "sortable": false,
                    "render": function (data, type, row, meta) {
                        debugger;
                        return '<a class="btn btn-primary btn-sm" style="background-color: #007B9F;color: white;border-color: #007B9F;" onclick=getFranchiseeUserViewById("' + row.id + '"); ><i class="fa fa-eye" aria-hidden="true"></i> View</a>';
                    },
                }
            ]
        });
    });
</script>

