/* header Section */
.img-circle {
    margin-top: 1px !important
}

.navbar-white {
    background-color: #000;
}

.mobi-menu {
    color: #ffffff !important;
}
/* breadcrumb----*/

.content-header .breadcrumb {
    display: none !important;
}

a.nav-link.log {
    color: #ffffff !important;
    display: block;
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 0.1em;
    text-align: right;
    text-transform: uppercase;
}

.assing {
    padding-left: 20px;
    letter-spacing: 1px;
}

    .assing a {
        font-size: 20px;
        font-weight: 600;
    }

.test-template {
    margin-top: 11%;
}

/*  Select   */

#myselection {
    padding: 0 .6rem;
}

    #myselection .sbutton {
        width: 70%;
        margin-top: 3%;
        padding: 10%;
    }

/* .mycolor {
	background-color: #0879fa !important
}

.mycolor .card-title {
	font-size: 1.5rem;
	font-weight: 500;
	color: #fff;
} */

.title {
    font-size: 25px;
    font-weight: 500;
    padding: 0px 20px 20px;
}

.top-title {
    margin-bottom: .1rem !important;
}

    .top-title h4 {
        margin-bottom: .1rem;
    }

.mytxt {
    padding: 20px;
    letter-spacing: 1px;
}

.myborder {
    width: 30px;
    border: 1px solid #e46123;
    margin: -5px 5px 3px 20px;
}

.outer-row {
    margin: 0px;
    background: linear-gradient(#e9ff0091, #fdfdfd);
}


/* add video */

.myform {
    padding-bottom: 5px;
}

.mysubmit {
    text-align: right;
    background: none;
    margin-top: 12%;
}

    .mysubmit .btn {
        padding: 5% 10%;
    }

.mysubmit1 {
    text-align: right;
    background: none;
    margin-top: 4%;
}

    .mysubmit1 .btn {
        padding: 5px 12px;
    }

.mysubmit2 {
    text-align: left;
    background: none;
    margin-top: 7%;
}

    .mysubmit2 .btn {
        padding: 5px 12px;
    }

.mycancel {
    text-align: left;
    background: none;
    margin-top: 12%;
}

    .mycancel .btn {
        padding: 5% 10%;
    }

.myform .card-footer {
    padding: .5rem .25rem;
}

.main-footer {
    padding: .5rem;
    background: #000;
}

.brand-link {
    padding: .4125rem .5rem;
}
/* register membership */

.register_membership {
    text-align: center;
    background: none;
}

    .register_membership .btn {
        padding: 5px 12px;
    }

.membership .myform {
    padding-bottom: 2px;
}

.navbar {
    padding: .1rem .1rem;
}

.sidebar-dark-primary .nav-sidebar > .nav-item > .nav-link.active, .sidebar-light-primary .nav-sidebar > .nav-item > .nav-link.active {
    background-color: #e9ff00;
    color: #343a40;
}
/* let-menu color  */
/* [class*=sidebar-dark-] {
    background-color: #ffffff;
}
[class*=sidebar-dark-] .nav-sidebar>.nav-item.menu-open>.nav-link, [class*=sidebar-dark-] .nav-sidebar>.nav-item:hover>.nav-link, [class*=sidebar-dark-] .nav-sidebar>.nav-item>.nav-link:focus{
	background-color: rgb(8, 121, 250);
    color: #fff;
}
[class*=sidebar-dark-] .nav-treeview>.nav-item>.nav-link:focus, [class*=sidebar-dark-] .nav-treeview>.nav-item>.nav-link:hover{
	background-color: rgb(8, 121, 250);
    color: #fff;
}
[class*=sidebar-dark-] .nav-header {color:#000000;}
[class*=sidebar-dark-] .nav-treeview>.nav-item>.nav-link {
    color: #000000;
}
[class*=sidebar-dark-] .user-panel a:hover {
    color: #007bff;
[class*=sidebar-dark-] .sidebar a {
    color: #000000;
}
} */
img.brand-image.img-circle.elevation-3 {
    box-shadow: none !important;
}

span.brand-text.font-weight-light {
    color: #ffffff;
}

/*  Grid background */
.tblbackground thead:first-child {
    background-color: #4054b2;
    color: #fff;
}

.tblbackground th {
    padding: .5rem;
}

.tblbackground td {
    padding: .5rem;
}

.tblbackground tr {
    font-size: 14px;
}

.form-control {
    padding: .175rem .75rem;
    height: calc(2rem);
}

.form-group {
    margin-bottom: .5rem;
}

#example1_length .form-control {
    padding: .375rem 1.75rem .375rem .75rem;
}

/* profile image pic---*/
.picture {
    width: 106px;
    height: 106px;
    background-color: #999999;
    border: 4px solid #CCCCCC;
    color: #FFFFFF;
    border-radius: 50%;
    margin: 0px auto;
    overflow: hidden;
    transition: all 0.2s;
    -webkit-transition: all 0.2s;
}

    .picture:hover {
        border-color: #2ca8ff;
    }

.content.ct-wizard-green .picture:hover {
    border-color: #05ae0e;
}

.content.ct-wizard-blue .picture:hover {
    border-color: #3472f7;
}

.content.ct-wizard-orange .picture:hover {
    border-color: #ff9500;
}

.content.ct-wizard-red .picture:hover {
    border-color: #ff3b30;
}

.picture input[type="file"] {
    cursor: pointer;
    display: block;
    height: 100%;
    left: 0;
    opacity: 0 !important;
    position: absolute;
    top: 0;
    width: 100%;
}

.picture-src {
    width: 100%;
}

.usr-id {
    font-size: 20px;
    color: #0879fa;
}
/*end....*/
/* Hover color  */
a:hover {
    color: #00ce1b;
    text-decoration: none;
}

a {
    color: #000000;
}

.main-footer a {
    color: #ffffff;
}

    .main-footer a:hover {
        color: #00ce1b;
        text-decoration: none;
    }
/*scroll*/
/*.add_video_scroll {height: 1100px; overflow-y: scroll;}*/

@media only screen and (max-width: 768px) {
    #myselection .sbutton {
        margin-top: 6%;
        padding: 5%;
    }

    h1.video_heading {
        font-size: 20px;
    }
    /* 	.mycolor .card-title {font-size: 20px;}
	.mycolor {padding: .5rem 1.25rem;} */

    .mycenter .form-group {
        margin-bottom: 0px;
    }

    .myform {
        padding: 5px;
    }

        .myform .form-group {
            margin-bottom: 0px;
        }

    .test-template {
        margin-top: 15%;
    }

        .test-template a {
            font-size: 13px;
        }

    .mysubmit, .mycancel {
        margin-top: 25%;
    }
}

@media only screen and (max-width: 420px) {
    #myselection .sbutton {
        margin-top: 10%;
        padding: 10%;
    }

    .assing {
        margin-top: 2%;
    }

    .test-template {
        margin-top: 7%;
        padding-left: 8px;
    }

    a.nav-link.log {
        font-size: 12px;
        padding-left: 5px !important;
        padding-right: 5px !important;
    }
}
