.img-circle {
	border-radius: 5%;
}

.admin-logo img {
	width: 80% !important;
}

#videopreview {
	position: absolute;
	top: 200px;
	bottom: 400px;
	left: 400px;
	right: 400px;
	display: none;
}

#close {
	font-family: arial;
	color: #0879fa;
	position: absolute;
	top: 193px;
	left: 391px;
	display: none;
	text-shadow: 1px 2px 2px #343a40;
}

/* header Section */

.navbar-white {
	background-color: #0879fa;
}

.mobi-menu {
	color:#ffffff !important;
}
/* breadcrumb----*/

.content-header .breadcrumb {
	display: none !important;
}

a.nav-link.log {
	color: #ffffff !important;
    display: block;
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 0.1em;
    text-align: right;
    text-transform: uppercase;
}

.assing {
	padding-left: 20px;
    letter-spacing: 1px;}

.assing a {
	font-size: 20px;
	font-weight: 600;
}

.test-template {margin-top:11%;}

/*  Select   */

#myselection {
	padding: 0 .6rem;
}

#myselection .sbutton {
	width: 70%;
	margin-top: 3%;
	padding: 10%;
}

.mycolor {
	background-color: #0879fa !important
}

.mycolor .card-title {
	font-size: 1.5rem;
	font-weight: 500;
	color: #fff;
}

.title {
	font-size: 25px;
	font-weight: 500;
	padding: 0px 20px 20px;
}

.mytxt {
	padding: 20px;
	letter-spacing: 1px;
}

.myborder {
	width: 30px;
	border: 1px solid #e46123;
	margin: -5px 5px 3px 20px;
}

.outer-row {
	margin: 0px;
	background: linear-gradient(#08c2fa2e, #ffffff);
}


/* add video */

.myform {
	padding-bottom: 5px;
}

.mysubmit {
	text-align: right;
	background: none;
	margin-top: 12%;
}

.mysubmit .btn {
	padding: 5% 10%;
}
.mysubmit1 {
	text-align: right;
	background: none;
	margin-top: 5%;
}
.mysubmit1 .btn {
	padding: 2% 5%;
}
.mycancel {
	text-align: left;
	background: none;
	margin-top: 12%;
}
.mycancel .btn {

	padding: 5% 10%;
}

.myform .card-footer {
	padding: .75rem .25rem;
}

/* register membership */

.register_membership {
	text-align: center;
	background: none;
}

.register_membership .btn {
	padding: 1% 5%
}

.membership .myform {
	padding-bottom: 2px;
}

/* let-menu color  */
[class*=sidebar-dark-] {
    background-color: #ffffff;
}
[class*=sidebar-dark-] .nav-sidebar>.nav-item.menu-open>.nav-link, [class*=sidebar-dark-] .nav-sidebar>.nav-item:hover>.nav-link, [class*=sidebar-dark-] .nav-sidebar>.nav-item>.nav-link:focus{
	background-color: rgb(8, 121, 250);
    color: #fff;
}
[class*=sidebar-dark-] .nav-treeview>.nav-item>.nav-link:focus, [class*=sidebar-dark-] .nav-treeview>.nav-item>.nav-link:hover{
	background-color: rgb(8, 121, 250);
    color: #fff;
}
[class*=sidebar-dark-] .nav-header {color:#000000;}
[class*=sidebar-dark-] .nav-treeview>.nav-item>.nav-link {
    color: #000000;
}
[class*=sidebar-dark-] .user-panel a:hover {
    color: #007bff;
}
img.brand-image.img-circle.elevation-3 {
    box-shadow: none !important;
}
[class*=sidebar-dark-] .sidebar a {
    color: #000000;
}
span.brand-text.font-weight-light {
	color: #ffffff;
}


/*scroll*/
/*.add_video_scroll {height: 1100px; overflow-y: scroll;}*/

@media only screen and (max-width: 768px) {
	#myselection .sbutton {
		    margin-top: 6%;
   			 padding: 5%;
	}
	h1.video_heading {
		font-size: 20px;
	}
	.mycolor .card-title {font-size: 20px;}
	.mycolor {padding: .5rem 1.25rem;}

	.mycenter .form-group {margin-bottom:0px;}
	.myform {padding: 5px;}
	.myform .form-group {margin-bottom:0px;}
	.test-template {margin-top: 15%;}
	.test-template a {font-size: 13px;}

}

@media only screen and (max-width: 420px) {
	#myselection .sbutton {
		    margin-top: 10%;
    		padding: 10%;
	}
	.assing {
		margin-top: 2%;
	}
	.test-template {margin-top: 7%; padding-left: 8px;}
	a.nav-link.log {font-size: 12px; padding-left:5px !important; padding-right: 5px !important;}
}