@*@{
        ViewData["Title"] = "Login";
        Layout = "~/Views/Shared/_NewUserRegistrationLayout.cshtml";
    }

    <h1>Login</h1>*@

<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="~/theams/plugins/fontawesome-free/css/all.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <!-- icheck bootstrap -->
    <link rel="stylesheet" href="~/theams/plugins/icheck-bootstrap/icheck-bootstrap.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="~/theams/dist/css/adminlte.min.css">
    <!-- Google Font: Source Sans Pro -->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="~/theams/microstyle.css" rel="stylesheet">
    <script src="~/theams/plugins/jquery/jquery.min.js"></script>
    <script src="~/theams/dist/js/DatimePicker/jquery.datetimepicker.js"></script>
    <link href="~/theams/dist/css/DatePicker/jquery.datetimepicker.css" rel="stylesheet" />
</head>
<body class="hold-transition">

    <!------ Custome Header start---------->
    <section id="header-style">
        <div class="container">
            <div class="row">
                <div class="col-xs-7 col-sm-6 col-lg-3 left">
                    <div class="logo-img"><img src="~/Images/micro-clean.jpeg"></div>
                </div>
                <div class="col-xs-6 col-sm-6 col-lg-9 right">
                    <div class="social-links">

                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="menu-style">
        <div class="container">
            <div class="row menu-row">
            </div>
        </div>
    </section>

    <!--------End Header------- ----->
    <section id="logins">
        @RenderBody()
        </section>
        <!-- /.login-box -->
        <!---  custome footer --->
        <section id="footer-style">
            <div class="container">
                <div class="row">
                    <div class="col-md-4"></div>
                    <div class="col-md-4 text-center">
                        <div class="social_icon">
                            <ul>
                                <li><a target="_blank" href="#"><i class="fa fa-youtube"></i></a></li>
                                <li><a target="_blank" href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a target="_blank" href="#"><i class="fa fa-instagram"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-4"></div>
                </div>
                <div class="row">
                    <div class="col-md-3"></div>
                    <div class="col-md-6">
                        <div class="copyright">
                            @*© 2019 <a title="Pi Infotech" target="_blank" href="https://www.pi-infotech.com/">Pi Infotech</a>. All Rights Reserved.*@
                            <strong>Copyright &copy; @DateTime.Now.Year <a href="https://www.pi-infotech.com" target="_blank">PI-Infotech</a>.</strong> All rights reserved.
                        </div>
                    </div>
                    <div class="col-md-3"></div>
                </div>
            </div>
        </section>
        <!-- jQuery -->
        <script src="~/theams/plugins/jquery/jquery.min.js"></script>
        <!-- Bootstrap 4 -->
        <script src="~/theams/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
        <!-- AdminLTE App -->
        <script src="~/theams/dist/js/adminlte.min.js"></script>

</body>
</html>


