
@{
    ViewData["Title"] = "AddEmployee";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<link href="~/theams/micro-custom.css" rel="stylesheet" />
<link href="~/theams/custom-loder.css" rel="stylesheet" />
<style>
    .error {
        color: red;
        width: 100%;
        margin-bottom: 0px;
    }

    .red_border {
        border-color: red !important;
    }

    .login-card-body .input-group .form-control, .register-card-body .input-group .form-control {
        border-right: 1px solid #ced4da;
    }
</style>

<script type="text/javascript">

    $(document).ready(function () {
        debugger;
        GetAllState();
    });
</script>
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header bread">
        <div class="container-fluid">
            <div class="row mb-2 top-title">
                <div class="col-sm-6">
                    <h4>Create User</h4>
                </div>
            </div>
        </div>
        <!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
        <div id="overlay1">
            <p style="position: absolute; color: White; top: 50%; left: 45%;">
                Loading, please wait...
                <img src="~/Images/ajax-loader4.gif" alt="Loader" style="width:105px;height:76px" />
            </p>
        </div>
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="card card-primary outer-row">
                        <!-- /.card-header 1st section -->
                        <form role="form" id="quickForm" enctype="multipart/form-data">
                            <div class="card-body myform">
                                <div class="row">
                                    <div class="col-sm-4 col-12">
                                        <div class="form-group">
                                            <label>First Name</label>
                                            <span style="color: red;">*</span>
                                            <div class="input-group mb-3">
                                                <input type="text" autocomplete="rutjfkde" class="form-control required onlyChar" id="txtFirstName" placeholder="Enter First Name">
                                                <div class="input-group-append">
                                                    <span class="input-group-text"><i class="fas fa-user"></i></span>
                                                </div>
                                                <span class="error" id="error_firstname" style="display: none;"></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4 col-12">
                                        <div class="form-group">
                                            <label>Middle Name</label>
                                            <div class="input-group mb-3">
                                                <input type="text" class="form-control onlyChar" autocomplete="rutjfkde" id="txtMiddleName" placeholder="Enter Middle Name">
                                                <div class="input-group-append">
                                                    <span class="input-group-text"><i class="fas fa-user"></i></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4 col-12">
                                        <div class="form-group">
                                            <label>Last Name</label>
                                            <span style="color: red;">*</span>
                                            <div class="input-group mb-3">
                                                <input type="text" autocomplete="rutjfkde" class="form-control required onlyChar" id="txtLastName" placeholder="Enter Last name">
                                                <div class="input-group-append">
                                                    <span class="input-group-text"><i class="fas fa-user"></i></span>
                                                </div>
                                                <span class="error" id="error_lastname" style="display: none;"></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-4 col-12">
                                        <div class="form-group">
                                            <label>Email</label>
                                            <span style="color: red;">*</span>
                                            <div class="input-group mb-3">
                                                <input type="text" autocomplete="rutjfkde" class="form-control required validateEmail email" placeholder="Enter Email" id="txtEmail">
                                                <div class="input-group-append">
                                                    <span class="input-group-text"><i class="fas fa-envelope"></i></span>
                                                </div>
                                                <span class="error" id="error_email" style="display: none;"></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4 col-12">
                                        <div class="form-group">
                                            <label>Password</label>
                                            <span style="color: red;">*</span>
                                            <div class="input-group mb-3">
                                                <input type="password" class="form-control required pwdmath" placeholder="Enter Password" autocomplete="new-password" id="txtPassword">
                                                <div class="input-group-append">
                                                    <span class="input-group-text"><i class="fas fa-lock"></i></span>
                                                </div>
                                                <span class="error" id="error_password" style="display:none;"></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4 col-12">
                                        <div class="form-group">
                                            <label>Confirm Password</label>
                                            <span style="color: red;">*</span>
                                            <div class="input-group mb-3">
                                                <input type="password" autocomplete="rutjfkde" class="form-control required pwdmath" placeholder="Enter Confirm Password" id="txtreinterpassword">
                                                <div class="input-group-append">
                                                    <span class="input-group-text"><i class="fas fa-lock"></i></span>
                                                </div>
                                                <span class="error" id="error_confirm_password" style="display:none;"></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-4 col-12">
                                        <div class="form-group">
                                            <label>Phone No.</label>
                                            <span style="color: red;">*</span>
                                            <div class="input-group mb-3">
                                                <input type="text" autocomplete="rutjfkde" class="form-control required phonedigit onlyDigit" id="txtPhone" placeholder="Enter Phone No" maxlength="10" title="10-digits" onkeypress="return isNumberKey(event);">
                                                <div class="input-group-append">
                                                    <span class="input-group-text"><i class="fas fa-phone"></i></span>
                                                </div>
                                                <span id="errorPhoneMsg" class="error" style="display: none;"></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4 col-12">
                                        <div class="form-group">
                                            <input type="hidden" id="hdnUserDetailId" />
                                            <label>Alternate Email</label>
                                            <div class="input-group mb-3">
                                                <input type="text" autocomplete="rutjfkde" class="form-control validateAlternateEmail" placeholder="Enter Alternate Email" id="txtAlternateEmail">
                                                <div class="input-group-append">
                                                    <span class="input-group-text"><i class="fas fa-envelope"></i></span>
                                                </div>
                                                <span class="error" id="error_alteremail" style="display: none;"></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4 col-12">
                                        <div class="form-group">
                                            <label>Alternate No</label>
                                            <div class="input-group mb-3">
                                                <input type="text" autocomplete="rutjfkde" class="form-control alternate-phonedigit" placeholder="Enter Alternate No" id="txtAlternateNumber" maxlength="10" onkeypress="return isNumberKey(event);" title="10-digits">
                                                <div class="input-group-append">
                                                    <span class="input-group-text"><i class="fas fa-phone"></i></span>
                                                </div>
                                                <span id="errorAlternatePhoneMsg" class="error" style="display: none;"></span>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                                <div class="row">
                                    <div class="col-sm-4 col-12">
                                        <div class="form-group">
                                            <label>State</label>
                                            <span style="color: red;">*</span>
                                            <div class="input-group mb-3">
                                                <select class="form-control checkrequire" id="ddlState" onchange="getdistrictbystateid(this)"></select>
                                                <div class="input-group-append">
                                                    <span class="input-group-text"><i class="fa fa-map-marker"></i></span>
                                                </div>
                                                <span class="error" id="error_state" style="display: none;"></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4 col-12">
                                        <div class="form-group">
                                            <label>District</label>
                                            <span style="color: red;">*</span>
                                            <div class="input-group mb-3">
                                                <select class="form-control" id="ddldistrictid" onchange="GetCityLocationbyDistrictid(this)"></select>
                                                <div class="input-group-append">
                                                    <span class="input-group-text"><i class="fa fa-map-marker"></i></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4 col-12">
                                        <div class="form-group">
                                            <label>City/Location</label>
                                            <span style="color: red;">*</span>
                                            <div class="input-group mb-3">
                                                <select class="form-control" id="ddlcitylocation" onchange="GetPincode(this);"></select>
                                                <div class="input-group-append">
                                                    <span class="input-group-text"><i class="fa fa-map-marker"></i></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-4 col-12">
                                        <div class="form-group">
                                            <label>Pincode</label>
                                            <span style="color: red;">*</span>
                                            <div class="input-group mb-3">
                                                <input type="text" autocomplete="rutjfkde" class="form-control required pinlength" placeholder="Enter Pincode" id="txtPincode" maxlength="6">
                                                <div class="input-group-append">
                                                    <span class="input-group-text"><i class="fa fa-map-pin" aria-hidden="true"></i></span>
                                                </div>
                                                <span class="error" id="error_pincode" style="display: none;"></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-8 col-12">
                                        <div class="form-group">
                                            <label>Address</label>
                                            <span style="color: red;">*</span>
                                            <div class="input-group mb-3">
                                                <textarea class="form-control required fullAddress" autocomplete="rutjfkde" id="txtAddress" rows="2"></textarea>
                                                <span class="error" id="error_fullAddress" style="display: none;"></span>
                                            </div>

                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="card-footer register_membership">
                                            <button type="button" onclick="addNewEmployeeByAdmin();" id="btnAddUser" class="btn btn-primary">Save</button>
                                            <a href="/Admin/EmployeeList" class="btn btn-danger">Cancel</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- /.card-body -->
                        </form>
                        <!-- /.card -->
                    </div>
                    <!-- /.col -->
                </div>
                <!-- /.row -->
            </div>
        </div>
        <!-- /.container-fluid -->
    </section>
    <!-- /.content -->
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="~/theams/plugins/jquery/jquery.min.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="~/ServiceScript/BaseUrl.js"></script>
<script src="~/ServiceScript/Service.js"></script>
<script src="~/ServiceScript/Common.js"></script>
<script src="~/ServiceScript/Validation/CommonValidation.js"></script>
<script src="~/ServiceScript/AdminEmployeeManagment.js"></script>

